<h3>What?</h3>
<ul>
    <li>Put stories in the boxes.</li>
    <li>First line of the box is the title, everything else is the content.</li>
    <li>Link to (and create) a new passage like [[this]].</li>
    <li>Wrap HTML in &lt;html&gt;&lt;/html&gt;.</li>
    <li>Share the edit link for multiplayer.</li>
    <li>Share or download the play link to publish.</li>
    <li>For further help see the <a href="http://gimcrackd.com/etc/doc/">twee docs</a>.</li>
    <li>I'm all a bit alpha right now. Let my dad know if something is broken by <a href="http://twitter.com/Norgg">tweet</a> or by <a href="mailto:encordy@norgg.org">email</a>.</li>
</ul>
