<h3>How?</h3>
<ul>
    <li>Put words in the boxes.</li>
    <li>The first line of the box is the title, everything else is the content.</li>
    <li>Link to (and create) a new passage like [[this]] or [[display text|title]].</li>
    <li>Wrap HTML in &lt;html&gt;&lt;/html&gt;.</li>
    <li>Share the edit link for multiplayer.</li>
    <li>Share or download the play link to publish.</li>
    <li>For further help see the <a href="http://gimcrackd.com/etc/doc/" target="_blank">twee docs</a>.</li>
    <li>I'm all a bit alpha right now. Let my dev know if something is broken by <a href="http://twitter.com/?status=@Norgg Help! I broke Encordy:" target="_blank">tweet</a> or <a href="mailto:encordy@norgg.org">email</a>.</li>
</ul>
