<html>
  <head>
    <title>encordy</title>
    <link rel="stylesheet" href="/static/encordy.css" type="text/css" />
    <style id="custom-style"></style>
  </head>
  <body>
    <div id="editor">
      <div id="menu">
        <h1 class="title">Encordy</h1>
          <span id="create-tools" class="tools">
            <a href="javascript:void(0)" id="new-passage">Add Passage</a>
            <a href="javascript:void(0)" id="rename">Rename</a>
            <a href="javascript:void(0)" id="save">Save</a>
            <a href="javascript:void(0)" id="load">Load</a>
          </span>
          <span id="share-tools" class="tools">
            <a href="javascript:void(0)" id="play">Test</a>
            <!--<a href="javascript:void(0)" id="share">Share</a>-->
            <a href="javascript:void(0)" id="export">Export</a>
          </span>
          <span id="help-tools" class="tools">
            <a href="javascript:void(0)" id="help">Help</a> 
            <a href="http://norgg.org/files/wandering.json" id="example">Download Example</a>
          </span>
        <input type="file" id="loadInput" style="display: none;" value="Load"/>
      </div>
      <div id="help-text">
        Put words in the boxes.<br/>
        Link to (and create) a new passage like [[this]].<br/>
        Create a passage called &lt;&lt;css&gt;&gt; to style your story.<br/>
        HTML tags should mostly work.<br/>
        Can drag a savefile onto the page to load it.<br/>
        All a bit alpha right now. Find me on irc or twitter if something is broken.<br/>
      </div>
      <div id="story">
      </div>
      <div id="canvas"></div>
    </div>
    
    <div id="player">
      <div id="menu">
        <h1 class="title">Encordy</h1>
        <a href="javascript:void(0)" id="edit">Edit</a>
        <a href="javascript:void(0)" id="restart">Restart</a>
      </div>
      <div id="player-content"></div>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/raphael-min.js"></script>
    <script src="/static/globals.js"></script>
    <script src="/static/passage.js"></script>
    <script src="/static/editor.js"></script>
    <script src="/static/player.js"></script>
    <script src="/static/socket.io-client.js"></script>
  </body>
</html>
