<html>
<head>
    <title>Encordy</title>
    <link rel="stylesheet" href="static/encordy.css" type="text/css" />
    <style id="custom-style"></style>
</head>
<body>
    <div id="editor">
        <div id="menu">
            <h1 class="title">Encordy</h1>
            <span id="story-tools" class="tools">
                <a href="{% url edit_story key=key%}" id="edit">New Story</a>
            </span>
            <span id="help-tools" class="tools">
                <a href="{% url edit_story key='sandbox'%}">Sandbox Story</a>
            </span>
        </div>
        <div id="welcome">
            <h3>Hi!</h3>
            <p>I'm a collaborative editor for <a href="http://gimcrackd.com/etc/src/" target="_blank">twee</a> games.</p>
            <p>Let's write a <a href="{% url edit_story key=key%}">story</a>.</p>
            {% include "_help.html" %}
        </div>
    </div>
    
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/raphael-min.js"></script>
</body>
</html>

